html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: #f8f9fd;
}


.box_content {
    margin: 74px auto;
    max-width: 444px;
    overflow: hidden;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.box_icon-user {
    width: 80px;
    height: 80px;
    margin: 32px auto;
    border-radius: 50%;
    background-color: #8d448b;
}

.ti-user {
    display: block;
    color: #fff;
    font-size: 26px;
    padding-top: 50%;
    transform: translateY(-25%);
    text-align: center;
}

h2 {
    text-align: center;
    color: #8d448b;
}

form {
    margin: 0 48px;
}

form input {
    padding: 14px 0 14px 10px;
    display: block;
    width: 97%;
    margin: 32px 0;
    border-radius: 4px;
    border: none;
    background-color: #ccc;
}

.btn {
    width: 100%;
    height: 56px; 
    color: #fff;
    font-size: 20px;
    margin: 32px 0;
    border-radius: 4px;
    border: 1px solid #000;
    background-color: #8d448b;
}

.btn:hover {
    cursor: pointer;
}

/* Form đăng ký */

.hide {
    display: none;
}

.new__acc p, .login_btn p {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.input_pass {
    position: relative;
}

.show__pass {
    top: 50%;
    right: 10px;
    font-size: 12px;
    font-weight: 600;
    padding: 6px;
    cursor: pointer;
    color: #787878;
    position: absolute;
    transform: translateY(-50%);
}